@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Quantico&display=swap');

* {
    margin: 0;
    padding: 0;
font-weight: bold;
        font-family: 'Electrolize', sans-serif;
    transition: 0.3s;
}
body {
    
    background-color: #c5e4e7;
   
}
.fa-dollar-sign {
    padding: 10px;
    position: absolute;
    color: #c0d0d0;
}
input {
    color: #054e53;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.cover {
    padding: 30px;
    border-radius: 20px;
    width: 820px;
    margin: 100px auto;
    height: 380px;
    background-color: white;
    display: flex;
}
#inp1::placeholder {
    color: #c0d0d0;
    float: right;
    padding: 8px 10px;
    font-size: 20px;
    font-weight: bold;
}
.maincontainer {
    width: 50%;
    height: 100%;
    
}
.boxex button:hover {
    background: #2eb5a5;
}
.secondarycontainer {
 
    width: 50%;

    height: 100%;

}
#bill {
    letter-spacing: 1px;
    color: #074a50;
    font-family: sans-serif;
    font-weight: bold;


}
.tips {
    margin-top:40px;
}
#select {
    letter-spacing: 1px;
    color: #074a50;
    font-family: sans-serif;
    font-weight: bold;
}
input {
    height: 36px;
    width: 100%;
    border: 0;
    outline: 0;
    background-color: #f3f8fb;
    border-radius: 5px;
}
.billinput {
    
}
.margining {
    margin: 20px;
}
.boxex {
    height: auto;
    
}
.people {
    margin-top: 43px;
}
#numbers {
    letter-spacing: 0.1px;
    color: #074a50;
    font-family: sans-serif;
    font-weight: bold;
}
.boxex button {
    border: 0;
    outline: 0;
    border-radius: 5px;
    color: white;
    background:#074a50 ;
    font-size: 20px;
    margin: 5px;
    width:105px;
    text-align: center;
    padding: 10px 0px;

}
.maincontainer2 {

    background: #00474b;
    height: 340px;
    border-radius: 20px;
    margin: 20px;
}
.tipinput {
    color: white;
    display: flex;
    align-items: center;
    margin:0px 20px;
    transform: translateY(20px);
    padding: 15px 0;
    justify-content: space-between;
}
#price {
    color: #2ebcaa;
    font-size: 45px;
}
#tiping {
    color: white;    ;
    letter-spacing: 1px;
}
#reseting {
    margin: 0px auto;
    border: 0;
    outline: 0;
    color: #054e53;
    background: #0d686d;
    width: 100%;
    height: 38px;

}
#tiping span {
    font-size: 11px;
    color: #477f83;    ;

}
.btncontainer {
   transform: translateY(120px);
    width: 80%;
    margin: 0 auto;
    text-align: center;
    
}